{% load static %}
<header>
    <a href="https://rb.ru/opinion/bannernaya-reklama/" data-featherlight="image" class="col-3 wow fadeIn"
                   data-wow-delay="0.1s"><img src="/static/images/banner1.png" alt="Landing Page" width="100%"/></a>
</header>
{% block content %} {% endblock content %}
<footer>
    <a href="https://rb.ru/opinion/bannernaya-reklama/" data-featherlight="image" class="col-3 wow fadeIn"
                   data-wow-delay="0.1s"><img src="/static/images/banner2.jpg" alt="РЕКЛАМА" /></a>
    <hr>
    <h2>© 2023 LomovVladislavProdaction</h2>
  </footer>